body {
    background-color: #F3F3F3;
    margin: 0;
}

.texteditor__container .ql-editor {
    width: 10in;
    height: 90%;
    padding: 0.75in;
    margin: 10px;
    background-color: white;
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.2);
}

.texteditor__container::-webkit-scrollbar {
    display: none;
} 

.texteditor__container{
    overflow-y: hidden !important;
}

.texteditor__container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color:white;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
}

.texteditor__container .ql-container.ql-snow {
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 100%;
}
